@page
@model AdminiMapBackend.Pages.Admin.Notes.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Note</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Note.Number" class="control-label"></label>
                <input asp-for="Note.Number" class="form-control" />
                <span asp-validation-for="Note.Number" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Title" class="control-label"></label>
                <input asp-for="Note.Title" class="form-control" />
                <span asp-validation-for="Note.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Tags" class="control-label"></label>
                <input asp-for="Note.Tags" class="form-control" />
                <span asp-validation-for="Note.Tags" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.UserNumber" class="control-label"></label>
                <input asp-for="Note.UserNumber" class="form-control" />
                <span asp-validation-for="Note.UserNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Latitude" class="control-label"></label>
                <input asp-for="Note.Latitude" class="form-control" />
                <span asp-validation-for="Note.Latitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.Longitude" class="control-label"></label>
                <input asp-for="Note.Longitude" class="form-control" />
                <span asp-validation-for="Note.Longitude" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note.LastUpdate" class="control-label"></label>
                <input asp-for="Note.LastUpdate" class="form-control" />
                <span asp-validation-for="Note.LastUpdate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>